{% extends 'base.html' %}
{% load static%}

{% block contenido %}
<div class="container-fluid" style="margin: 300px;" >
    <h1>Eliminar Post</h1>
    <p>¿Estas seguro de que quieres eliminar el Post "{{ object.nombre }}"?</p>
        
        
    <form method="post">
        {% csrf_token %}
        <a style="color:black;" href="{% url 'apps.posts:post-individual' post.id %}">No, cancelar</a>
        <input type="submit" value="Si, eliminar">
        <a style="color:black;" href="{% url 'apps.posts:post_delete' post.id %}"></a>  
          
        
    </form>
    
    
    

{% endblock %}
